<h2>You've completed a round of the "<%= @deck.name %>" deck.</h2>

<h2>It took you <%= get_stats[:attempts] %> tries to get all the cards correct. You skipped over and returned to <%= get_stats[:skipped] %>. You answered <%= get_stats[:correct_on_first_try] %> out of <%= @deck.cards.count %> cards correctly on the first try.</h2>

<h2><a href="/decks/<%= @deck.id %>/cards/game-play">Play Another Round of "<%= @deck.name %>"</a></h2>
<h2><a href="/decks">Choose Another Deck</a></h2>
