<div class="flipcontainer">
<article class="card">
  <div class="front face panel">
    <%= @card.front %>
  </div>
  <div class="back face panel">
    <%= @card.back %>
  </div>
</article>
</div>


<% if @correct %>
  <h2>Your guess of "<%= @guess %>" is correct!</h2>
<% else %>
  <h2>Your guess of "<%= @guess %>" is super wrong!</h2>
<% end %>

<h2><a href="/decks/<%= @card.deck.id %>/cards/next">Next Card</a></h2>
