<article>
  <h2><%= @card.front %></h2>
</article>

<form action="<%= "/decks/#{@card.deck.id}/cards/#{@card.id}" %>" method="post">
  <% if multi_choice? %>
    <% selection(@card).each_with_index do |choice, i| %>
      <h2>
        <label>
          <input type="radio" name="guess" value="<%= choice %>" id="guess<%= i %>" />
          <%= choice %>
        </label>
      </h2>
    <% end %>
  <% else %>
    <h2>
      <label>
        <input type="text" id="guess" name="guess">
      </label>
    </h2>
  <% end %>
  <button type="submit" class="btn btn-primary btn-large modified-button"><h5>Submit<h5></button>
</form>

<h2><a href="/decks/<%= @card.deck.id %>/cards/<%= @card.id %>/skip">Skip to next card</a></h2>

