<article>
  <p><%= @card.front %></p>
</article>
<form action="<%= "/decks/#{@card.deck.id}/cards/#{@card.id}" %>" method="post">
  <% if multi_choice? %>
    <% selection(@card).each_with_index do |choice, i| %>
			<input type="radio" name="guess" value="<%= choice %>" id="guess<%= i %>" >
      <label for="guess<%= i %>"><%= choice %></label>
    <% end %>
  <% else %>
  <label for="guess">My answer:</label>
  <input type="text" id="guess" name="guess">
  <% end %>
  <input type="submit" value="Answer!">
</form>
<a href="/decks/<%= @card.deck.id %>/cards/<%= @card.id %>/skip">Skip to next card</a>

